.container {
  width: 400px;
  // height: 290px;
}
table {
  width: 100%;
}
.mat-cell {
  font-size: 14px;
  min-height: 40px;
  text-align: center;
  border-right: 1px solid black;
}

.mat-form-field {
  height: 100%;
  display: contents;
  position: relative;
  text-align: left;
}
