<div class="container">
  <app-box-container>
    {{ setDates() }}
    <ng-container header> Important Dates </ng-container>
    <table
      mat-table
      [dataSource]="setDataSource()"
      class="mat-elevation-z8"
      dossier
    >
      <ng-container matColumnDef="option">
        <td mat-cell *matCellDef="let element; let i = index">
          <span>{{ element.option }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="ctrl">
        <td mat-cell *matCellDef="let element">
          <mat-form-field class="audit" appearance="fill">
            <input
             
              matInput
              (dateChange)="onDateChange()"
              [formControl]="element.ctrl"
              placeholder="_/_/_"
              [matDatepicker]="picker"
              class="audit"
              appearance="fill"
            />

            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </app-box-container>
</div>
