@import 'src/scss/variables';

.input-element {
  background-color: $background-color;
  margin-left: 7px;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: $background-color;
  height: 2.5rem;
  border-radius: 5px;
}

.icon {
  margin-right: 0.5rem;
}
