.message-text-container {
  overflow: auto;
  height: 15.75rem;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.receiver-name {
  font-weight: bold;
  font-size: 15px;
}
.receiver-role {
  font-size: 10px;
}
button {
  background-color: #cdd48b;
  border-width: 0px;
}

.message-footer {
  // background-color: #cdd48b;
  display: flex;
  flex-direction: row;
}
.message-input {
  height: 35px;
  flex-grow: 1;
}

mat-icon {
  height: 25px;
}

.to {
  position: relative;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #b8b8b8;
  width: 200px;
  height: 50px;
  text-align: left;
  font: 400 0.9em sans-serif;
  border: 1px solid #b8b8b8;
  border-radius: 10px;
}

.from {
  position: relative;
  margin-bottom: 10px;
  margin-left: calc(100% - 240px);
  padding: 10px;
  background-color: #b9c25d;
  width: 200px;
  height: 50px;
  text-align: left;
  font: 400 0.9em sans-serif;
  border: 1px solid #b9c25d;
  border-radius: 10px;
}

.to:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid #b8b8b8;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: 0;
  left: -15px;
}

.to:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 17px solid #b8b8b8;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  top: -1px;
  left: -17px;
}

.from:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 15px solid #b9c25d;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  bottom: 0;
  right: -15px;
}

.from:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 17px solid #b9c25d;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  bottom: -1px;
  right: -17px;
}
