
<div *ngIf="reqDetails || requestView; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock >
    <mat-form-field appearance="legacy" class="example-full-width" class="then">
      <mat-label>{{label}}</mat-label>
      <select required="true" matNativeControl> 
        <option [value]="data" selected>{{data}}</option>
      </select>
    </mat-form-field>
</ng-template>
<ng-template #elseBlock>
  <form >
    <mat-form-field class="example-full-width" appearance="legacy">
  <mat-label>{{ label }}</mat-label>
    <input
      type="text"
      required
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
      #inputValue
    />
    <mat-icon>arrow_drop_down</mat-icon>

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option.value"
        matTooltip="{{ option.value }}"
        (click)="getOption(option)"
        [matTooltipPosition]="position[0]"
      >
        {{ option.value }}
      </mat-option>
    </mat-autocomplete>
    
  </mat-form-field>
</form>

</ng-template>
